<link rel="stylesheet" href="delete.component.css" />
<h2>List of people</h2>
<table class="people">
  <tr class="head-row">
    <td>Employee Id</td>
    <td>Name</td>
    <td>E-mail Id</td>
    <td>Action</td>
  </tr>
  <tr class="col1" *ngFor="let person of people; let i = index">
    <td>
      {{ person.id }}
    </td>
    <td>
      {{ person.name }}
    </td>
    <td>
      {{ person.mail }}
    </td>
    <td>
      <button (click)="deletePerson(person.id)">Delete</button>
    </td>
  </tr>
</table>
